## Laboratorio # 1

### Tipos de estructuras de datos en Python

**Listas**

Descripción: Una lista es una colección ordenada, mutable y heterogénea (puede contener diferentes tipos de datos).

Características:

* Permiten duplicados.

* Se accede a sus elementos mediante índices.

In [ ]:
# Crear una lista
mi_lista = [1, 2, 3, "Python", True]

# Acceso y modificación
print(mi_lista[0])  # 1
mi_lista[3] = "Hola"
print(mi_lista)  # [1, 2, 3, "Hola", True]

# Métodos útiles
mi_lista.append(99)  # Agregar un elemento
mi_lista.remove(2)   # Eliminar un elemento
print(mi_lista)  # [1, 3, "Hola", True, 99]

In [ ]:
mi_lista[-1]

In [ ]:
print(mi_lista)

**Tuplas (tuple)**

Descripción: Una tupla es una colección ordenada e inmutable. Una vez creada, sus valores no pueden cambiar.

Características:

* Más rápida que las listas.
* Se accede a sus elementos mediante índices.

In [ ]:
# Crear una tupla
mi_tupla = (1, 2, 3, 4, 5, 6, "Python")

# Acceso
print(mi_tupla[5])  # 3

In [ ]:
# Inmutabilidad
#mi_tupla[1] = 4  # Esto genera un error

In [ ]:
lista_de_tuplas = [("A",4),("B",7),("C",4)]
print(lista_de_tuplas)

In [ ]:
lista_de_tuplas[1][1]

**Conjuntos (set)**

Descripción: Un conjunto es una colección desordenada de elementos únicos.

Características:

* No permite duplicados.

* Los elementos no tienen un orden fijo.

Caso de uso: Modelar conjuntos matemáticos, eliminar duplicados o realizar operaciones como uniones o intersecciones.

In [ ]:
# Crear un conjunto
mi_conjunto = {1, 2, 3, 4}

# Operaciones de conjunto
mi_conjunto.add(5)  # Agregar elemento
mi_conjunto.remove(3)  # Eliminar elemento

# Operaciones entre conjuntos
otro_conjunto = {3, 4, 5, 6}
union = mi_conjunto | otro_conjunto  # {1, 2, 4, 5, 6}
interseccion = mi_conjunto & otro_conjunto  # {4, 5}

print(union, interseccion)

**Diccionarios (dict)**

Descripción: Un diccionario almacena pares clave-valor, donde cada clave es única.

Características:

* Es mutable.

* Permite acceso rápido mediante claves.

In [ ]:
# Crear un diccionario
mi_diccionario = {"nombre": "Juan", "edad": 25, "profesion": "Ingeniero"}

# Acceso y modificación
print(mi_diccionario["nombre"])  # Juan
mi_diccionario["edad"] = 26  # Cambiar valor
mi_diccionario["ciudad"] = "Bogotá"  # Agregar nueva clave

# Métodos útiles
valores = mi_diccionario.values()  # Obtener valores
claves = mi_diccionario.keys()  # Obtener claves
print(valores, claves)

In [1]:
mi_diccionario2 = {"nombre": "Paola", "nota1":5,"nota2":5}

In [2]:
mi_diccionario2.keys()

dict_keys(['nombre', 'nota1', 'nota2'])

In [ ]:
mi_diccionario.items()

In [ ]:
mi_diccionario["edad"]

**Conjuntos Inmutables (frozenset)**

Descripción: Similar a un conjunto (set), pero inmutable (no se puede modificar después de su creación).

In [ ]:
# Crear un conjunto inmutable
mi_frozenset = frozenset([1, 2, 3, 4])
# mi_frozenset.add(5)  # Esto generará un error

print(mi_frozenset)

### Desarrollo del Laboratorio

#### Carga de datos

In [ ]:
import csv

def cargar_datos(file_path):
    """
    Carga un archivo de texto estructurado como el compartido.
    :param file_path: Ruta del archivo de datos.
    :return: Lista de listas donde cada sublista representa una fila.
    """
    datos = []
    with open(file_path, 'r', encoding='utf-8') as file:
        for linea in file:
            # Dividir los datos por tabulación o un espacio
            datos.append(linea.strip().split('\t'))
    return datos

In [ ]:
file_path = "C:\Users\Olga\Documents\GitHub\2024-2-LAB-01-programacion-basica-en-python-Paolabustos0510\files\input\data.csv"

In [ ]:
# Uso de la función
datos = cargar_datos(file_path)
print(datos[:3])  # Imprime las primeras 3 filas para validar

#### Pregunta 01

In [ ]:
def pregunta01(datos):
    """
    Retorne la suma de la segunda columna.

    Rta/
    214

    """
    suma = 0
    for fila in datos:
        suma += int(fila[1])  # Convierte a entero el valor de la segunda columna y lo suma
    return suma

In [ ]:
resultado = pregunta01(datos)
print(f"La suma de la columna1 es: {resultado}")

#### Pregunta 02

In [ ]:
def pregunta02(datos):
    """
    Retorne la cantidad de registros por cada letra de la primera columna como
    la lista de tuplas (letra, cantidad), ordendas alfabéticamente.

    Rta/
    [('A', 8), ('B', 7), ('C', 5), ('D', 6), ('E', 14)]

    """
    conteo = {}
    for fila in datos:
        letra = fila[0]
        if letra in conteo:
            conteo[letra] += 1
        else:
            conteo[letra] = 1
    
    # Convertir a lista de tuplas y ordenar alfabéticamente
    resultado = sorted(conteo.items())
    return resultado

In [ ]:
# Uso de la función
letra_conteo = pregunta02(datos)  # La primera columna tiene índice 0
print(letra_conteo)

#### Pregunta 03

In [ ]:
def pregunta_03(datos):
    """
    Retorne la suma de la columna 2 por cada letra de la primera columna como
    una lista de tuplas (letra, suma) ordendas alfabeticamente.

    Rta/
    [('A', 53), ('B', 36), ('C', 27), ('D', 31), ('E', 67)]

    """
    suma_por_letra = {}
    
    for fila in datos:
        letra = fila[0]  # Primera columna
        valor = int(fila[1])  # Segunda columna convertida a entero
        
        if letra in suma_por_letra:
            suma_por_letra[letra] += valor
        else:
            suma_por_letra[letra] = valor
    
    # Convertir a lista de tuplas y ordenar alfabéticamente
    resultado = sorted(suma_por_letra.items())
    return resultado

In [ ]:
#uso de la función
resultado = pregunta_03(datos)
print(resultado)

#### Pregunta 04

In [ ]:
def pregunta_04(datos):
    """
    La columna 3 contiene una fecha en formato `YYYY-MM-DD`. Retorne la
    cantidad de registros por cada mes, tal como se muestra a continuación.

    Rta/
    [('01', 3),
     ('02', 4),
     ('03', 2),
     ('04', 4),
     ('05', 3),
     ('06', 3),
     ('07', 5),
     ('08', 6),
     ('09', 3),
     ('10', 2),
     ('11', 2),
     ('12', 3)]

    """
    registros_por_mes = {}
    
    for fila in datos:
        fecha = fila[2]  # Tercera columna
        mes = fecha.split("-")[1]  # Extraer el mes (segundo componente de la fecha)
        
        if mes in registros_por_mes:
            registros_por_mes[mes] += 1
        else:
            registros_por_mes[mes] = 1
    
    # Convertir a lista de tuplas y ordenar por mes
    resultado = sorted(registros_por_mes.items())
    return resultado

In [ ]:
resultado = pregunta_04(datos)
print(resultado)

#### Pregunta 05

In [ ]:
def pregunta_05(datos):
    """
    Retorne una lista de tuplas con el valor maximo y minimo de la columna 2
    por cada letra de la columa 1.

    Rta/
    [('A', 9, 2), ('B', 9, 1), ('C', 9, 0), ('D', 8, 3), ('E', 9, 1)]

    """
    valores_por_letra = {}
    
    for fila in datos:
        letra = fila[0]  # Primera columna
        valor = int(fila[1])  # Convertir a entero la segunda columna
        
        if letra in valores_por_letra:
            # Actualizar máximo y mínimo
            valores_por_letra[letra]['max'] = max(valores_por_letra[letra]['max'], valor)
            valores_por_letra[letra]['min'] = min(valores_por_letra[letra]['min'], valor)
        else:
            # Inicializar máximo y mínimo
            valores_por_letra[letra] = {'max': valor, 'min': valor}
    
    # Convertir a lista de tuplas (letra, maximo, minimo) y ordenar alfabéticamente por letra
    resultado = sorted((letra, valores['max'], valores['min']) for letra, valores in valores_por_letra.items())
    return resultado

In [ ]:

resultado = pregunta_05(datos)
print(resultado)

#### Pregunta 06

In [ ]:
def pregunta_06(datos):
    """
    La columna 5 codifica un diccionario donde cada cadena de tres letras
    corresponde a una clave y el valor despues del caracter `:` corresponde al
    valor asociado a la clave. Por cada clave, obtenga el valor asociado mas
    pequeño y el valor asociado mas grande computados sobre todo el archivo.

    Rta/
    [('aaa', 1, 9),
     ('bbb', 1, 9),
     ('ccc', 1, 10),
     ('ddd', 0, 9),
     ('eee', 1, 7),
     ('fff', 0, 9),
     ('ggg', 3, 10),
     ('hhh', 0, 9),
     ('iii', 0, 9),
     ('jjj', 5, 17)]

    """
    valores_por_clave = {}
    
    for fila in datos:
        # Obtener la columna 5 y dividirla por comas
        elementos = fila[4].split(",")
        for elemento in elementos:
            clave, valor = elemento.split(":")  # Separar clave y valor
            valor = int(valor)  # Convertir el valor a entero
            
            if clave in valores_por_clave:
                # Actualizar máximo y mínimo
                valores_por_clave[clave]['max'] = max(valores_por_clave[clave]['max'], valor)
                valores_por_clave[clave]['min'] = min(valores_por_clave[clave]['min'], valor)
            else:
                # Inicializar máximo y mínimo
                valores_por_clave[clave] = {'max': valor, 'min': valor}
    
    # Convertir a lista de tuplas (clave, minimo, maximo) y ordenar alfabéticamente por clave
    resultado = sorted((clave, valores['min'], valores['max']) for clave, valores in valores_por_clave.items())
    return resultado

In [ ]:
resultado = pregunta_06(datos)
print(resultado)

#### Pregunta 07

In [ ]:
def pregunta_07(datos):
    """
    Retorne una lista de tuplas que asocien las columnas 0 y 1. Cada tupla
    contiene un valor posible de la columna 2 y una lista con todas las letras
    asociadas (columna 1) a dicho valor de la columna 2.

    Rta/
    [(0, ['C']),
     (1, ['E', 'B', 'E']),
     (2, ['A', 'E']),
     (3, ['A', 'B', 'D', 'E', 'E', 'D']),
     (4, ['E', 'B']),
     (5, ['B', 'C', 'D', 'D', 'E', 'E', 'E']),
     (6, ['C', 'E', 'A', 'B']),
     (7, ['A', 'C', 'E', 'D']),
     (8, ['E', 'D', 'E', 'A', 'B']),
     (9, ['A', 'B', 'E', 'A', 'A', 'C'])]

    """
    asociacion = {}
    
    for fila in datos:
        valor_columna_2 = int(fila[1])  # Columna 2 convertida a entero
        letra_columna_1 = fila[0]      # Columna 1 (letra)
        
        if valor_columna_2 not in asociacion:
            asociacion[valor_columna_2] = []
        
        asociacion[valor_columna_2].append(letra_columna_1)
    
    # Convertir a lista de tuplas y ordenar por el valor de la columna 2
    resultado = sorted((clave, letras) for clave, letras in asociacion.items())
    return resultado

In [ ]:
resultado = pregunta_07(datos)
print(resultado)

#### Pregunta 08

In [ ]:
def pregunta_08(datos):
    """
    Genere una lista de tuplas, donde el primer elemento de cada tupla
    contiene  el valor de la segunda columna; la segunda parte de la tupla
    es una lista con las letras (ordenadas y sin repetir letra) de la
    primera  columna que aparecen asociadas a dicho valor de la segunda
    columna.

    Rta/
    [(0, ['C']),
     (1, ['B', 'E']),
     (2, ['A', 'E']),
     (3, ['A', 'B', 'D', 'E']),
     (4, ['B', 'E']),
     (5, ['B', 'C', 'D', 'E']),
     (6, ['A', 'B', 'C', 'E']),
     (7, ['A', 'C', 'D', 'E']),
     (8, ['A', 'B', 'D', 'E']),
     (9, ['A', 'B', 'C', 'E'])]

    """
    asociacion = {}
    
    for fila in datos:
        valor_columna_2 = int(fila[1])  # Columna 2 convertida a entero
        letra_columna_1 = fila[0]      # Columna 1 (letra)
        
        if valor_columna_2 not in asociacion:
            asociacion[valor_columna_2] = set()
        
        asociacion[valor_columna_2].add(letra_columna_1)
    
    # Convertir a lista de tuplas con las letras ordenadas
    resultado = [(clave, sorted(letras)) for clave, letras in asociacion.items()]
    resultado.sort()  # Ordenar por el valor de la columna 2
    return resultado

In [ ]:
resultado = pregunta_08(datos)
print(resultado)

#### Pregunta 09

#### Pregunta 10

#### Pregunta 11

#### Pregunta 12